<tr>
  <td><%= @pool.address %></td>
  <td>
    <%= token_symbol(@pool.token_base.meta) %>-<%= token_symbol(@pool.token_quote.meta) %>
  </td>
  <td>
    <ul>
      <%= for i <- Enum.sort(@pool.intervals) do %>
        <li><%= i %></li>
      <% end %>
    </ul>
  </td>
</tr>
